@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/red-hat-text/RedHatText-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/red-hat-text/RedHatText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/red-hat-text/RedHatText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/red-hat-text/RedHatText-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/red-hat-text/RedHatText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/red-hat-text/RedHatText-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/red-hat-text/RedHatText-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/red-hat-text/RedHatText-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/red-hat-text/RedHatText-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/red-hat-text/RedHatText-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text VF";
  src: url("../fonts/red-hat-text/RedHatText-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text VF";
  src: url("../fonts/red-hat-text/RedHatText-Italic-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
}
